/* GLOBAL */
:root {
  --main-blue: #3A4BF2;
  --dark-blue: #28348A;
  --accent-blue: #00DCDC;
  --background: #F2F3FC;
  --white: #FFFFFF;
  --accent-light: #DFE1F8;
  font-size: 14px;
}

.App {
  background-color: var(--background);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 160px;
  line-height: 1.8rem;
}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
}

.card {
  border: none;
}

/* EDIT & ADD BUTTONS */
.edit-btn,
.add-btn {
  color: var(--main-blue);
  font-size: 1.6rem;
  z-index: 8;
  text-align: right;
  display: block;
  position: relative;
  top: 30px;
  left: 96%;
  width: 25px;
}

.add-btn {
  margin-bottom: 10px;
  margin-right: 5px;
}

.edit-btn-light,
.add-btn-light {
  color: var(--accent-light);
}

.edit-btn-wht {
  color: var(--white);
}

.edit-btn:hover,
.add-btn:hover {
  cursor: pointer;
}

/* MAIN */
.main-container {
  margin-left: 245px;
  margin-top: 76px;
  padding-top: 33px;
  color: var(--dark-blue);
  max-width: 1322px;
  width: 80%;
}

.main-card {
  border: none;
  border-radius: 0%;
  margin-bottom: 20px;
  width: 100%;
}

.text-wrapper {
  padding: 46px;
  width: 100%;
  margin-top: -25px;
}

.section-title {
  font-size: 1.28rem;
  font-weight: 600;
}

.section-descrip {
 font-size: 1rem;
}

.section-content {
  font-size: 1rem;
  text-align: justify;
  margin-top: 30px;
}


.close-list li::after {
  content: 'X';
  margin-left: 20px;
}

.main-card .card{
  display: inline-block;
  border-radius: 8px;
  margin-top: 20px;
  min-width: 350px;
}

.card-deck {
  padding: 0;
}


/* RESPONSIVE */
@media only screen and (max-width: 1400px){
  :root {
    font-size: 12px;
  }

  .main-container {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 480px){
  .main-container {
      margin-left: 0;
      width: 100%;
      padding: 20px 0 0 0;
  }
 
}