/* GLOBAL */
:root {
  --main-blue: #3A4BF2;
  --dark-blue: #28348A;
  --accent-blue: #00DCDC;
  --background: #F2F3FC;
  --white: #FFFFFF;
  --accent-light: #DFE1F8;
  font-size: 14px;
}

.App {
  background-color: var(--background);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 160px;
  line-height: 1.8rem;
}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
}

.card {
  border: none;
}


/* COUNTER BAR */
.counter-nav {
  background-color: var(--main-blue);
  color: var(--white);
  position: fixed;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  height: 76px;
  margin-top: -76px;
  margin-left: 230px;
  padding-right: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.counter-nav .timer-title {
  font-size: 1.14rem;
  font-weight: 500;
  display: inline;
  margin-bottom: -10px;
  text-align: right;
}

.counter-nav .timer-countdown {
  font-size: 3.28rem;
  font-weight: 600;
  display: inline;
  margin: 0 25px 0 14px;
}

.counter-nav .book-meeow-btn {
  height: 45px;
  width: 165px;
  border: none;
  background-color: var(--accent-blue);
  color: var(--white);
  border-radius: 6px;
  display: inline;
  margin-right: 12%;
  font-size: 1.14rem;
  font-weight: 600;
  margin-bottom: -8px;
}

.counter-nav .fa-magnifying-glass {
  color: var(--main-blue);
  position: relative;
  left: 35px;
  font-size: 1.6rem;
}

.counter-nav .search {
  height: 45px;
  width: 246px;
  padding-left: 50px;
  border: none;
  border-radius: 4px;
  margin-right: 32px;
}

.counter-nav .search::placeholder {
  color: var(--main-blue);
}

.counter-nav .notifications {
  color: var(--white);
  font-size: 1.14rem;
  text-decoration: none;
  margin-right: 30px;
}

.counter-nav .fa-bell {
  font-size: 1.6rem;
  margin-right: 10px;
}

.counter-nav .nav-profile-img {
  height: 57px;
  width: 57px;
}

/* SIDEBAR */
.sidebar-nav {
  background-color: var(--white);
  color: var(--main-blue);
  font-weight: 500;
  width: 230px;
  height: 100%;
  z-index: 11;
  position: fixed;
  margin-top: -76px;
}

.sidebar-nav .logo {
  width: 125px;
  margin: 32px;
}

.sidebar-nav ul {
  margin-left: 30px;
}

.sidebar-nav li {
  font-size: 1rem;
  margin-bottom: 28px;
}

/* SIDEBAR FOOTER */
.sidebar-footer {
  position: fixed;
  bottom: 40px;
  width: 229px;
}

.sidebar-footer .how-to-btn {
  background-color: var(--accent-blue);
  color: var(--white);
  width: 148px;
  height: 41px;
  border: none;
  border-radius: 4px;
  margin-left: 30px;
}

.sidebar-footer hr {
  background-color: #3744E9;
  opacity: 12%;
}

/* MAIN */
.main-container {
  margin-left: 245px;
  margin-top: 76px;
  padding-top: 33px;
  color: var(--dark-blue);
  max-width: 1322px;
  width: 80%;
}

.main-card {
  border: none;
  border-radius: 0%;
  margin-bottom: 20px;
  width: 100%;
}

.text-wrapper {
  padding: 46px;
  width: 100%;
  margin-top: -25px;
}

.section-title {
  font-size: 1.28rem;
  font-weight: 600;
}

.section-descrip {
 font-size: 1rem;
}

.section-content {
  font-size: 1rem;
  text-align: justify;
  margin-top: 30px;
}


.close-list li::after {
  content: 'X';
  margin-left: 20px;
}

.main-card .card{
  display: inline-block;
  border-radius: 8px;
  margin-top: 20px;
  min-width: 350px;
}

.card-deck {
  padding: 0;
}

/* EDIT & ADD BUTTONS */
.edit-btn,
.add-btn {
  color: var(--main-blue);
  font-size: 1.6rem;
  z-index: 8;
  text-align: right;
  display: block;
  position: relative;
  top: 30px;
  left: 96%;
  width: 25px;
}

.add-btn {
  margin-bottom: 10px;
  margin-right: 5px;
}

.edit-btn-light,
.add-btn-light {
  color: var(--accent-light);
}

.edit-btn-wht {
  color: var(--white);
}

.edit-btn:hover,
.add-btn:hover {
  cursor: pointer;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px){
  :root {
    font-size: 12px;
  }
  .counter-nav .book-meeow-btn {
    margin-right: 5%;
  }
}



/* TO DO:
Add underline to see more and space before
Drop down menu from nav bar
Checkbox restyle
Responsive - pop up too!
*/
