
/* AUTO MEEOW REPORT */
.auto-report .edit-btn-dark {
  color: var(--dark-blue);
}

.auto-report .text-wrapper {
  margin-top: -20px;
}

.auto-report .card {
  background-color: var(--dark-blue);
  margin-left: 10px;
  color: var(--white);
  padding: 30px;
  margin-bottom: 30px;
}

.auto-report input {
  border: solid 3px var(--dark-blue);
  margin-right: 10px;
}

.auto-report #report-label {
  max-width: 90%;
}