
/* EXPERIENCE */
.exp-content .edit-btn {
  position: relative;
  left: 20px;
}

.exp-content .exp-section {
  margin-bottom: 60px;
}

.exp-content .exp-info {
  margin: -50px 0 20px 80px;
  width: 90%;
}

.exp-content .exp-title {
  font-weight: 600;
}

.exp-content img {
  position: relative;
  top: 20px;
  width: 49px;
  height: 49px;
}

.exp-content li {
  font-weight: 500;
}

.exp-content hr {
  border: solid 2px #F7F8FD;
}