
/* IN MEEOW PROFILE */
.in-meeow-profile {
  color: var(--main-blue);
}

.in-meeow-profile .text-wrapper {
  margin-top: -20px;
}

.in-meeow-profile .card {
  background-color: var(--main-blue);
  height: 229px;
  padding: 30px;
  color: var(--white);
}
