
/* IN MEEOW PROFILE */
.in-meeow-profile {
  color: var(--main-blue);
}

.in-meeow-profile .text-wrapper {
  margin-top: -20px;
}

.in-meeow-profile .container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.in-meeow-profile .card {
  display: inline-block;
  background-color: var(--main-blue);
  height: 229px;
  color: var(--white);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
}
