
/* SERVICES & SKILLS */
.services-skills .text-wrapper {
  margin-top: -25px;
}

.services-skills ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.services-skills li {
  display: inline-block;
  width: 100%;
}
