
/* SIDEBAR */
.sidebar-nav {
    background-color: var(--white);
    color: var(--main-blue);
    font-weight: 500;
    width: 230px;
    height: 100%;
    z-index: 11;
    position: fixed;
    margin-top: -76px;
  }
  
  .sidebar-nav .logo {
    width: 125px;
    margin: 32px;
  }
  
  .sidebar-nav ul {
    margin-left: 30px;
  }
  
  .sidebar-nav li {
    font-size: 1rem;
    margin-bottom: 28px;
  }
  
  /* SIDEBAR FOOTER */
  .sidebar-footer {
    position: fixed;
    bottom: 40px;
    width: 229px;
  }
  
  .sidebar-footer .how-to-btn {
    background-color: var(--accent-blue);
    color: var(--white);
    width: 148px;
    height: 41px;
    border: none;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  .sidebar-footer hr {
    background-color: #3744E9;
    opacity: 12%;
  }
  
  
    /* RESPONSIVE */
@media only screen and (max-width: 1400px){
    .sidebar-nav,
    .sidebar-footer {
      width: 190px;
    }
    .sidebar-nav .logo {
        width: 115px;
        margin: 32px;
      }
  }

@media only screen and (max-width: 480px){
    .sidebar-nav .logo {
        display: none;
    }

    .sidebar-nav {
        display: none;
    }
}